:root {
  --blue200: #222181;
  --blue200-transparent: #23218184;
  --blue100: #571f92;
  --blue50: #4e4dbb;
  --blue25: #4e4dbb;
  --bluelight: #7a78db;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.home {
  background-image: url("image/heroimg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.9);
}
.check-btn i {
  display: none;
  color: white;
}
.close {
  font-size: 40px;
  color: white;
  font: bolder;
  display: none;
}
.home--navbar {
  display: flex;
  align-items: center;
  padding: 10 30px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.328);
}
.home--navbar--imagelink__image {
  width: 200px;
}
.home--navbar ul {
  float: right;
}
.home--navbar ul li {
  padding: 9px;
  transition: 0.5s;
  border-radius: 10px;
  list-style-type: none;
  display: inline-block;
}
.home--navbar ul li a {
  text-decoration: none;
  color: var(--blue100);
}
#check {
  display: none;
}
label {
  display: none;
  color: white;
}

.home--navbar ul li a.active {
  color: white;
  background-color: var(--blue200-transparent);
  padding: 10px 20px;
  border-radius: 5px;
}
.home--herotext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: column;
}
.home--herotext h3 {
  font-size: 60px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  width: 65%;
  text-align: center;
  color: rgb(226, 226, 226);
  font-weight: bold;
}
.home--herotext a {
  font-size: 17px;
  background-color: var(--blue200);
  padding: 10px 25px;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-decoration: none;
  text-align: center;
  color: rgb(226, 226, 226);
  font-weight: 100;
}
.home--herotext h3 span {
  color: var(--blue200);
}

.navbar__other {
  display: flex;
  align-items: center;
  padding: 10 30px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.328);
}
.navbar__other ul {
  float: right;
}
.navbar__other .check-btn i {
  color: black;
}
.navbar__other ul li {
  padding: 9px;
  transition: 0.5s;
  border-radius: 10px;
  list-style-type: none;
  display: inline-block;
}
.navbar__other ul li a {
  text-decoration: none;
  color: var(--blue200);
}
.navbar__other ul li a.active {
  color: white;
  background-color: var(--blue200);
  padding: 10px 20px;
  border-radius: 5px;
}
.about {
  background-color: rgba(182, 181, 209, 0.141);
  height: fit-content;
}

.about--container {
  display: flex;
  gap: 30px;
  padding: 6rem 9rem;
  align-items: center;
  justify-content: center;
}
.about--container__imgsection div {
  border-top: 1rem solid transparent;
  border-right: 1rem solid transparent;
}
.about--container__imgsection {
  border-top: 2rem dotted var(--blue50);
  border-right: 2rem dotted var(--blue50);
  width: fit-content;
}
.about--container__imgsection img {
  width: 600px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 17px 12px 0px rgba(0, 0, 0, 0.345);
}
.about--container__textsection h2 {
  font-size: 40px;
}
.about--container__textsection p {
  font-size: 16px;
  color: rgb(69, 69, 69);
}
.navbar__other {
  border-bottom: 1px solid rgba(53, 53, 53, 0.271);
}
.home--navbar {
  border-bottom: 1px solid rgba(53, 53, 53, 0.3);
}
.about--organogram {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about--organogram img {
  width: 900px;
}
.about--organogram p {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 25px;
  font-weight: bold;
  color: rgb(64, 64, 64);
}
.about--obj {
  display: flex;
  height: fit-content;
  padding: 20px;
  margin-top: 40px;
}
.about--obj article {
  padding: 25px 40px;
  background-color: var(--blue25);
}

.about--obj article p {
  color: rgb(255, 255, 255);
  font-weight: 100;
}
.about--obj div {
  height: 100%;
  background: rgb(117, 117, 117);
  width: 4px;
}
.about--obj article h2 {
  text-align: center;
  color: rgb(255, 255, 255);
}

.contact--git {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  flex-direction: column;
  padding: 0 45px;
}
.contact--git > section {
  background-color: var(--bluelight);
  padding: 30px 50px;
  box-shadow: 0px 7px 20px 0px rgba(143, 143, 143, 0.581);
  border-radius: 20px;
  width: fit-content;
}
.contact--git section h2 {
  font-size: 30px;
  margin: 0;
  color: rgb(42, 42, 42);
  text-align: center;
}
.contact--git article {
  display: flex;
  gap: 40px;
}
.contact--git article section {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  gap: 15px;
  margin: 0;
}
.contact--git article section > div p {
  margin: 0;
  font-weight: bold;
}
.contact--git section article section div p {
  color: rgb(42, 42, 42);
  margin-bottom: 10px;
}
.contact--git section article section i {
  color: rgb(42, 42, 42);
}
.contact--git section article section div a {
  color: rgb(53, 53, 53);
  text-decoration: none;
}
.text {
  text-align: center;
  margin-bottom: 40px;
  font-size: 17px;
  color: rgb(42, 42, 42);
}
.organization {
  background-color: rgba(182, 181, 209, 0.141);
}
.organization > section {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.organization > section h1 {
 text-align: center;
 color: rgb(71, 71, 71);
}
.organization--imgwrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.organization--imgwrapper > div {
  width: 300px;
  position: relative;
}
.organization--imgwrapper > div > img {
  max-width: 100%;
  display: block;
  transition: 0.4s;
  border-radius: 10px;
  box-shadow: 0px 7px 20px 0px rgba(143, 143, 143, 0.581);
}
.organization--imgwrapper > div > img:hover {
  transform: scale(1.1);
  transition: 0.4s;
  box-shadow: 0px 7px 20px 0px rgba(55, 55, 55, 0.656);
}
.devunit h2,
.produnit h2,
.salesunit h2,
.customerSupport h2,
.operations h2,
.research h2 {
  text-align: center;
  color: rgb(71, 71, 71);
}
.devunit h3,
.produnit h3,
.salesunit h3,
.customerSupport h3,
.operations h3,
.research h3 {
  color: rgb(71, 71, 71);
}
.devunit p,
.produnit p,
.salesunit p,
.customerSupport p,
.operations p,
.research p {
  font-size: 18px;
  color: rgb(123, 122, 122);
}

.devunit div,
.produnit div,
.salesunit div,
.customerSupport div,
.operations div,
.research div {
  width: 50%;
}

/* media query */
/* @media (max-width: 900px) {} */

@media (max-width: 1071px) {
  .about--container__imgsection img {
    width: 400px;
  }
  .about--container {
    display: block;
    padding: 4rem 6rem;
  }
}
@media (max-width: 971px) {
  .organization--imgwrapper > div {
    width: 200px;
  }
}
@media (max-width:665px) {
    .organization--imgwrapper > div {
        width: 150px;
      }
}

@media (max-width: 817px) {
  .home--navbar ul li {
    display: block;
    transition: 0.5s;
  }

  .navbar__other ul li {
    display: block;
    transition: 0.5s;
  }
  .check-btn i {
    display: block;
    color: white;
  }
  .close {
    font-size: 30px;
    color: white;
    font: bolder;
    display: flex;
    justify-content: flex-start;
  }

  .home--navbar--imagelink__image {
    width: 200px;
  }
  .navbar__other ul {
    position: fixed;
    background-color: rgb(30, 30, 30);
    height: 100vh;
    line-height: 60px;
    width: 50%;
    right: -60%;
    top: -18px;
    padding: 0 30px;
    text-align: center;
    transition: 0.9s;
  }
  .home--navbar ul {
    position: fixed;
    background-color: rgb(30, 30, 30);
    height: 101vh;
    line-height: 60px;
    width: 50%;
    right: -60%;
    top: -18px;
    padding: 0 30px;
    text-align: center;
    transition: 0.9s;
  }
  .home--navbar ul li a {
    text-decoration: none;
    color: white;
  }
  label {
    display: block;
    color: white;
  }
  .home--navbar ul li a.active {
    color: white;
    background-color: var(--blue200-transparent);
    padding: 10px 20px;
    border-radius: 5px;
  }
  .home--herotext {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  .home--herotext h3 {
    font-size: 40px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 70%;
    text-align: center;
    color: rgb(226, 226, 226);
    font-weight: bold;
  }
  .home--herotext h3 span {
    color: var(--blue200);
  }
  .about--container__imgsection img {
    width: 300px;
  }
  .about--container {
    padding: 2rem 3rem;
  }
  .about--organogram p {
    font-size: 20px;
    margin-top: 55px;
  }
  .about--organogram img {
    width: 400px;
  }
  .contact--git article {
    display: block;
  }
  .contact--git article section {
    margin-bottom: 20px;
  }
  .contact--git {
    margin-top: 4rem;
  }
  .contact--git > section {
    background-color: var(--bluelight);
    padding: 30px 20px;
    border-radius: 20px;
    width: fit-content;
  }
}

@media (max-width: 590px) {
  .home--navbar ul {
    right: -120%;
    height: 101vh;
    width: 100%;
  }
  .navbar__other ul {
    right: -120%;
    height: 101vh;
    width: 100%;
  }
  .close {
    font-size: 30px;
    color: white;
    font: bolder;
    display: flex;
    justify-content: flex-end;
  }
  .home--navbar--imagelink__image {
    width: 140px;
  }
  .home--navbar {
    padding: 20px;
  }
  .home--navbar ul li a {
    text-decoration: none;
    color: white;
  }
  .navbar__other ul li a {
    text-decoration: none;
    color: white;
  }
  .home--herotext h3 {
    font-size: 35px;
    width: 90%;
    text-align: left;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .home--herotext a {
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 30px;
  }
  .about--container__imgsection img {
    width: 250px;
  }
  .about--container {
    padding: 2rem 1rem;
  }
  .about--container__textsection h2 {
    margin: 0;
    font-size: 30px;
  }
  .about--container__textsection p {
    font-size: 16px;
  }
  .about--container__imgsection {
    border-top: 15px dotted var(--blue50);
    border-right: 15px dotted var(--blue50);
    width: fit-content;
  }
  .about--container__imgsection div {
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .about--organogram p {
    font-size: 17px;
    margin-top: 55px;
  }
  .about--organogram img {
    width: 300px;
  }
  .about--obj {
    display: block;
    padding: 0px;
  }
  .about--obj article {
    padding: 25px 20px;
    background-color: var(--blue25);
  }
  .contact--git > section {
    width: 100%;
  }
  .devunit,
  .produnit,
  .salesunit,
  .customerSupport,
  .operations,
  .research {
    width: 100%;
    margin-bottom: 3rem;
  }
  .devunit div,
  .produnit div,
  .salesunit div,
  .customerSupport div,
  .operations div,
  .research div {
    width: 100%;
  }
  .devunit p,
  .produnit p,
  .salesunit p,
  .customerSupport p,
  .operations p,
  .research p {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .devunit h2,
  .produnit h2,
  .salesunit h2,
  .customerSupport h2,
  .operations h2,
  .research h2 {
    font-size: 20px;
  }
  .devunit h3,
  .produnit h3,
  .salesunit h3,
  .customerSupport h3,
  .operations h3,
  .research h3 {
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 17px;
  }
  .organization {
    padding: 1rem;
  }
  .organization--imgwrapper > div {
    width: 135px;
  }
  .organization--imgwrapper {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .organization > section h1 {
    font-size: 20px;
    margin-top: 0;
   }
}

#check:checked ~ ul {
  right: 0;
}
